div.preview-landing-page {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  background: white; }
  div.preview-landing-page .video-container {
    width: 100%;
    height: auto;
    max-height: 720px;
    position: relative; }
    @media only screen and (min-width: 768px) {
      div.preview-landing-page .video-container {
        display: flex;
        justify-content: center;
        align-items: center; } }
    div.preview-landing-page .video-container .video-box {
      width: 1280px;
      height: auto;
      max-height: 720px;
      overflow: hidden; }
      @media only screen and (max-width: 768px) {
        div.preview-landing-page .video-container .video-box {
          width: 100%; } }
      div.preview-landing-page .video-container .video-box .dynamic-video {
        height: auto;
        width: 100%; }
    div.preview-landing-page .video-container .video-overlay {
      font-family: 'Lato', sans-serif;
      width: 100%;
      height: 100%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
      color: white;
      z-index: 99;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        div.preview-landing-page .video-container .video-overlay {
          margin-top: -7px;
          padding-top: 2rem;
          background: #e6e6e6; }
          div.preview-landing-page .video-container .video-overlay h1 {
            color: #434851; }
          div.preview-landing-page .video-container .video-overlay p {
            color: #434851; } }
      @media only screen and (min-width: 768px) {
        div.preview-landing-page .video-container .video-overlay {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center; }
          div.preview-landing-page .video-container .video-overlay h1 {
            color: white; } }
      div.preview-landing-page .video-container .video-overlay h1 {
        font-weight: 400;
        font-size: 40px; }
      div.preview-landing-page .video-container .video-overlay .play-button {
        width: 60px;
        height: 60px;
        margin-bottom: 2rem; }
        @media only screen and (min-width: 768px) {
          div.preview-landing-page .video-container .video-overlay .play-button.mobile {
            display: none; } }
        @media only screen and (max-width: 768px) {
          div.preview-landing-page .video-container .video-overlay .play-button.desktop {
            display: none; } }
      div.preview-landing-page .video-container .video-overlay .buffer-bottom {
        font-size: 18px;
        margin-bottom: 2.5rem; }
      div.preview-landing-page .video-container .video-overlay .form-container {
        position: relative;
        width: 275px;
        margin: 0 auto; }
        div.preview-landing-page .video-container .video-overlay .form-container.mobile-scrolling {
          position: fixed;
          z-index: 9999;
          top: 20px;
          left: 14%;
          right: 14%;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35); }
        div.preview-landing-page .video-container .video-overlay .form-container.desktop-scrolling {
          position: fixed;
          top: 20px;
          left: 2%;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35); }
        div.preview-landing-page .video-container .video-overlay .form-container .form-box {
          position: relative;
          display: flex; }
          div.preview-landing-page .video-container .video-overlay .form-container .form-box .white-button, div.preview-landing-page .video-container .video-overlay .form-container .form-box .blue-button {
            background: white;
            color: #424751;
            position: relative;
            text-shadow: none !important;
            font-size: 14px;
            letter-spacing: 0.25px;
            float: left;
            padding: 1rem;
            flex-grow: 1; }
            div.preview-landing-page .video-container .video-overlay .form-container .form-box .white-button:hover, div.preview-landing-page .video-container .video-overlay .form-container .form-box .blue-button:hover {
              cursor: pointer; }
          div.preview-landing-page .video-container .video-overlay .form-container .form-box .blue-button {
            background: #00a9e0;
            color: white; }
        div.preview-landing-page .video-container .video-overlay .form-container div.popup-form {
          display: none;
          z-index: 99;
          /* height: 500px; */ }
        div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] .blue-button {
          background: gray; }
        div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] .white-button:after {
          position: absolute;
          display: block;
          content: ' ';
          border-top: 10px solid white;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          bottom: -10px;
          left: 15px;
          z-index: 999; }
        div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form {
          display: block;
          margin: auto;
          position: absolute;
          background: #00a9e0;
          /*width:275px; */
          left: 0;
          right: 0; }
          div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead {
            margin-top: 0;
            margin-bottom: 0;
            width: 100%; }
            div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent {
              border: none; }
              div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent .ccLeadCopy {
                margin-top: 1em;
                padding-top: 1em; }
              div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form {
                padding: .75em; }
                div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form input, div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form select, div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form textarea {
                  width: 95%; }
                div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form .chosen-container.chosen-container-single {
                  width: 99% !important;
                  text-shadow: none;
                  text-align: left; }
                  div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form .chosen-container.chosen-container-single a {
                    padding-left: 5px; }
                  div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form .chosen-container.chosen-container-single .chosen-search input[type=text] {
                    width: 87%; }
                div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form .ccLeadSubmit {
                  display: flex;
                  justify-content: space-between;
                  padding: 1em 0 0;
                  text-align: left;
                  width: 95%; }
                div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form .ccLead .ccLeadContent form .ccLeadButton {
                  font-size: 14px;
                  font-weight: normal;
                  height: auto;
                  margin: 0 .65em 0 0;
                  padding: 0 10px;
                  width: auto; }
          div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form p.exit-button {
            float: right;
            margin-right: 1rem;
            font-size: 20px; }
            div.preview-landing-page .video-container .video-overlay .form-container[data-form-open='true'] div.popup-form p.exit-button:hover {
              cursor: pointer; }
  div.preview-landing-page .cc-blue-header {
    color: #00A9E0; }
    div.preview-landing-page .cc-blue-header.h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 1rem; }
      @media only screen and (max-width: 768px) {
        div.preview-landing-page .cc-blue-header.h3 {
          margin-top: 0.5rem;
          margin-bottom: 0; } }
    div.preview-landing-page .cc-blue-header.h2 {
      text-align: center;
      padding: 2rem;
      width: 60%;
      margin: 2rem auto;
      line-height: 35px;
      font-size: 24px; }
      div.preview-landing-page .cc-blue-header.h2 em {
        color: #00a9e0; }
      @media only screen and (max-width: 768px) {
        div.preview-landing-page .cc-blue-header.h2 {
          width: 100%; } }
  div.preview-landing-page h2.cc-blue-header {
    text-align: center;
    padding: 2rem;
    width: 60%;
    margin: auto;
    line-height: 35px;
    font-size: 24px; }
    @media only screen and (max-width: 768px) {
      div.preview-landing-page h2.cc-blue-header {
        width: 100%; } }
    div.preview-landing-page h2.cc-blue-header span.source {
      font-size: 18px;
      color: #7e7e7e;
      font-weight: 300;
      font-style: italic; }
  div.preview-landing-page .triple-pane {
    margin-top: -6px;
    padding: 1rem;
    background: #e6e6e6;
    color: #434851;
    text-align: center; }
    div.preview-landing-page .triple-pane .row {
      width: 90%;
      margin: auto; }
    div.preview-landing-page .triple-pane .single-pane.col-md-4 {
      padding: 2rem; }
      div.preview-landing-page .triple-pane .single-pane.col-md-4 img {
        margin-top: 1rem; }
      div.preview-landing-page .triple-pane .single-pane.col-md-4 p strong {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase; }
      div.preview-landing-page .triple-pane .single-pane.col-md-4 .h3 {
        font-size: 1.25em; }
      @media only screen and (max-width: 768px) {
        div.preview-landing-page .triple-pane .single-pane.col-md-4 {
          padding: 1rem; }
          div.preview-landing-page .triple-pane .single-pane.col-md-4 a {
            text-decoration: none; }
            div.preview-landing-page .triple-pane .single-pane.col-md-4 a p:not(.h3) {
              margin: 0;
              color: #236192; } }
    div.preview-landing-page .triple-pane .triple-pane-title {
      line-height: 0.5;
      text-align: center; }
      div.preview-landing-page .triple-pane .triple-pane-title span {
        color: #4b4b4b;
        display: inline-block;
        position: relative; }
        div.preview-landing-page .triple-pane .triple-pane-title span:before, div.preview-landing-page .triple-pane .triple-pane-title span:after {
          content: "";
          position: absolute;
          height: 1px;
          background-color: #4b4b4b;
          top: 0;
          width: 400%;
          margin-top: 2px; }
        div.preview-landing-page .triple-pane .triple-pane-title span:before {
          right: 100%;
          margin-right: 15px; }
        div.preview-landing-page .triple-pane .triple-pane-title span:after {
          left: 100%;
          margin-left: 15px; }
  div.preview-landing-page .popup-video {
    width: 100%;
    height: auto; }
  @media only screen and (min-width: 768px) {
    div.preview-landing-page div.alternating-images {
      width: 70%;
      margin: auto; } }
  @media only screen and (max-width: 768px) {
    div.preview-landing-page div.alternating-images {
      width: 100%;
      overflow: hidden; }
      div.preview-landing-page div.alternating-images .row.single-image img, div.preview-landing-page div.alternating-images .row.double-image img {
        display: none; } }
  div.preview-landing-page div.alternating-images .col-md-6 {
    padding: 0; }
    div.preview-landing-page div.alternating-images .col-md-6.info-card, div.preview-landing-page div.alternating-images .col-md-6 .info-card {
      padding: 3rem 5rem;
      height: auto; }
      div.preview-landing-page div.alternating-images .col-md-6.info-card .card-headline, div.preview-landing-page div.alternating-images .col-md-6 .info-card .card-headline {
        font-size: 24px;
        text-transform: uppercase; }
        div.preview-landing-page div.alternating-images .col-md-6.info-card .card-headline:after, div.preview-landing-page div.alternating-images .col-md-6 .info-card .card-headline:after {
          content: '';
          display: block;
          height: 3px;
          width: 2.5rem;
          background: white;
          margin: 1rem 0; }
      div.preview-landing-page div.alternating-images .col-md-6.info-card .card-link, div.preview-landing-page div.alternating-images .col-md-6 .info-card .card-link {
        color: white;
        font-weight: 600; }
        div.preview-landing-page div.alternating-images .col-md-6.info-card .card-link:hover, div.preview-landing-page div.alternating-images .col-md-6 .info-card .card-link:hover {
          color: white;
          text-decoration: underline; }
      div.preview-landing-page div.alternating-images .col-md-6.info-card .card-content, div.preview-landing-page div.alternating-images .col-md-6 .info-card .card-content {
        font-weight: 300; }
      div.preview-landing-page div.alternating-images .col-md-6.info-card[data-card-color="#00a9e0"], div.preview-landing-page div.alternating-images .col-md-6 .info-card[data-card-color="#00a9e0"] {
        background: #00a9e0;
        color: #fff; }
      div.preview-landing-page div.alternating-images .col-md-6.info-card[data-card-color="#e6e6e6"], div.preview-landing-page div.alternating-images .col-md-6 .info-card[data-card-color="#e6e6e6"] {
        background: #e6e6e6;
        color: #000; }
        div.preview-landing-page div.alternating-images .col-md-6.info-card[data-card-color="#e6e6e6"] .card-headline:after, div.preview-landing-page div.alternating-images .col-md-6 .info-card[data-card-color="#e6e6e6"] .card-headline:after {
          background: black; }
        div.preview-landing-page div.alternating-images .col-md-6.info-card[data-card-color="#e6e6e6"] .card-link, div.preview-landing-page div.alternating-images .col-md-6 .info-card[data-card-color="#e6e6e6"] .card-link {
          color: black; }
          div.preview-landing-page div.alternating-images .col-md-6.info-card[data-card-color="#e6e6e6"] .card-link:hover, div.preview-landing-page div.alternating-images .col-md-6 .info-card[data-card-color="#e6e6e6"] .card-link:hover {
            color: black; }
      div.preview-landing-page div.alternating-images .col-md-6.info-card[data-card-color="#bd5527"], div.preview-landing-page div.alternating-images .col-md-6 .info-card[data-card-color="#bd5527"] {
        background: #bd5527;
        color: #fff; }
  div.preview-landing-page div.final-image {
    width: 100%;
    position: relative;
    text-align: center; }
    div.preview-landing-page div.final-image img {
      width: 100%;
      max-width: 100%;
      height: auto; }
    @media only screen and (min-width: 768px) {
      div.preview-landing-page div.final-image .final-image-overlay {
        position: absolute;
        width: 85%;
        top: 25%;
        left: 7.5%;
        right: 75%;
        color: white; } }
    @media only screen and (max-width: 768px) {
      div.preview-landing-page div.final-image .final-image-overlay {
        background-color: #00a9e0;
        margin-bottom: -1.5rem;
        padding: 1rem 0 2.5rem 0; }
        div.preview-landing-page div.final-image .final-image-overlay a {
          text-decoration: none; } }
    div.preview-landing-page div.final-image .final-image-overlay .h2 {
      font-size: 48px;
      text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.35);
      margin-bottom: 0.5rem;
      color: white; }
    div.preview-landing-page div.final-image .final-image-overlay p {
      font-size: 19px;
      text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.35);
      width: 65%;
      color: white;
      margin: auto; }

#content.microsite {
  margin: 0 !important;
  width: 100% !important; }

#side-nav {
  display: none; }

.userMarkup {
  padding: 0 !important;
  margin-top: -1rem !important; }

#column-container-1 {
  width: 100%;
  max-width: unset;
  margin: 0; }

#content-wrapper {
  margin-top: -8px; }

#outer-container, #inner-container {
  background: #f6f6f6 !important; }

.responsive-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .responsive-video-container iframe, .responsive-video-container object, .responsive-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.remodal[data-remodal-id='video-modal'] {
  max-width: 750px; }

@media only screen and (min-width: 768px) {
  .remodal[data-remodal-id='video-modal'] {
    width: 75%; } }

/*# sourceMappingURL=landing.css.map */
