div.preview-landing-page
{
  max-width: 1280px;
  width: 100%;
  margin: auto;
  background: white;

  .video-container
  {
	width: 100%;
	height: auto;
	max-height: 720px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	.video-box
	{
	  width: 1280px;
	  height: auto;
	  max-height: 720px;
	  overflow: hidden;

	  .dynamic-video
	  {
		height: auto;
		width: 100%;

		@media only screen and (max-width: 768px)
		{
		  &.desktop
		  {
			display: none;
		  }
		}

		@media only screen and (min-width: 768px)
		{
		  &.mobile
		  {
			display: none;
		  }
		}
	  }
	}
	.video-overlay
	{
	  font-family: 'Lato', sans-serif;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
	  color: white;
	  z-index: 99;
	  text-align: center;

	  h1
	  {
		color: white;
		font-weight: 400;
		font-size: 40px;
	  }

	  .play-button
	  {
		width: 60px;
		height: 60px;
		margin-bottom: 2rem;
	  }

	  .buffer-bottom
	  {
		font-size: 18px;
		margin-bottom: 2.5rem;
	  }

	  .form-container
	  {
		position: relative;
		width: 275px;
		margin: 0 auto;

		.form-box
		{
		  position: relative;
		  display: flex;

		  .white-button, .blue-button
		  {
			background: white;
			color: #424751;
			position: relative;
			text-shadow: none !important;
			font-size: 14px;
			letter-spacing: 0.25px;
			float: left;
			padding: 1rem;
			flex-grow: 1;
			&:hover
			{
			  cursor: pointer;
			}
		  }

		  .blue-button
		  {
			background: #00a9e0;
			color: white;
		  }
		}

		div.popup-form
		{
		  display: none;
		  /* height: 500px; */
		}

		&[data-form-open='true']
		{
		  .blue-button
		  {
			background: rgb(128, 128, 128);
		  }
		  .white-button:after
		  {
			position: absolute;
			display: block;
			content: ' ';
			border-top: 10px solid white;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			bottom: -10px;
			left: 15px;
			z-index: 999;
		  }

		  div.popup-form
		  {
			display: block;
			margin: auto;
			position: absolute;
			background: #00a9e0;
			/*width:275px; */
			left: 0;
			right: 0;

			.ccLead
			{
			  margin-top: 0;
			  margin-bottom: 0;

			  .ccLeadContent
			  {
				border: none;

				.ccLeadCopy
				{
				  margin-top: 1em;
				  padding-top: 1em;
				}
				form
				{
				  padding: .75em;

				  input, select, textarea
				  {
					width: 95%;
				  }
				  .chosen-container.chosen-container-single
				  {
					width: 99% !important;
					text-shadow: none;
					text-align: left;
					a
					{
					  padding-left: 5px;
					}
					.chosen-search input[type=text]
					{
					  width: 87%;
					}
				  }
				  .ccLeadSubmit
				  {
					display: flex;
					justify-content: space-between;
					padding: 1em 0 0;
					text-align: left;
					width: 95%;
				  }
				  .ccLeadButton
				  {
					font-size: 14px;
					font-weight: normal;
					height: auto;
					margin: 0 .65em 0 0;
					padding: 0 10px;
					width: auto;
				  }
				}
			  }
			}

			p.exit-button
			{
			  float: right;
			  margin-right: 1rem;
			  font-size: 20px;

			  &:hover
			  {
				cursor: pointer;
			  }
			}
		  }
		}
	  }
	}
  }



  .cc-blue-header
  {
	color: #00A9E0;

	&.h3
	{
	  font-size: 20px;
	  font-weight: 600;
	  margin-top: 1rem;
	}
  }

  h2.cc-blue-header
  {
	text-align: center;
	padding: 2rem;
	width: 60%;
	margin: auto;
	line-height: 35px;

	@media only screen and (max-width: 768px)
	{
	  width: 100%;
	}

	span.source {
	  font-size: 18px;
	  color: #7e7e7e;
	  font-weight: 300;
	  text-transform: uppercase;
	}
  }

  .triple-pane
  {
	margin-top: -6px;
	padding: 1rem;
	background: rgb(230, 230, 230);
	color: #434851;
	text-align: center;

	.row
	{
	  width: 90%;
	  margin: auto;
	}

	.single-pane.col-md-4
	{
	  padding: 2rem;

	  p strong
	  {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	  }

	  h3 // this is the same as .cc-blue-header h3 {}
	  {
		font-size: 1.25em;
	  }
	}

	.triple-pane-title
	{
	  line-height: 0.5;
	  text-align: center;

	  span
	  {
		color: #4b4b4b;
		display: inline-block;
		position: relative;

		&:before, &:after
		{
		  content: "";
		  position: absolute;
		  height: 1px;
		  background-color: #4b4b4b;
		  top: 0;
		  width: 400%;
		  margin-top: 2px;
		}

		&:before
		{
		  right: 100%;
		  margin-right: 15px;
		}

		&:after
		{
		  left: 100%;
		  margin-left: 15px;
		}
	  }
	}
  }
  .popup-video
  {
	width: 100%;
	height: auto;
  }

  div.alternating-images
  {
	@media only screen and (min-width: 768px)
	{
	  width: 70%;
	  margin: auto;
	}

	@media only screen and (max-width: 768px)
	{
	  .row.single-image img, .row.double-image img {

		display: none;

	  }
	}

	.col-md-6
	{
	  padding: 0;

	  &.info-card, .info-card
	  {
		padding: 3rem 5rem;
		height: auto;

		.card-headline
		{
		  font-size: 24px;
		  text-transform: uppercase;

		  &:after
		  {
			content: '';
			display: block;
			height: 3px;
			width: 2.5rem;
			background: white;
			margin: 1rem 0;
		  }
		}

		.card-link
		{
		  color: white;
		  font-weight: 600;

		  &:hover
		  {
			color: white;
			text-decoration: underline;
		  }
		}

		.card-content
		{
		  font-weight: 300;
		}

		&[data-card-color="#00a9e0"]
		{
		  background: #00a9e0;
		  color: #fff;
		}

		&[data-card-color="#e6e6e6"]
		{
		  background: #e6e6e6;
		  color: #000;

		  .card-headline:after
		  {
			background: black;
		  }

		  .card-link
		  {
			color: black;

			&:hover
			{
			  color: black;
			}
		  }
		}

		&[data-card-color="#bd5527"]
		{
		  background: #bd5527;
		  color: #fff;
		}
	  }
	}
  }

  div.final-image
  {
	width: 100%;
	position: relative;
	text-align: center;

	img
	{
	  width: 100%;
	  max-width: 100%;
	  height: auto;
	}

	.final-image-overlay
	{
	  @media only screen and (min-width: 768px)
	  {
		position: absolute;
		width: 85%;
		top: 25%;
		left: 7.5%;
		right: 75%;
		color: white;
	  }

	  @media only screen and (max-width: 768px)
	  {
		background-color: #00a9e0;
	  }

	  .h2
	  {
		font-size: 48px;
		text-shadow: -2px 2px 1px rgba(0,0,0,0.35);
		margin-bottom: 0.5rem;
		color: white;
	  }

	  p
	  {
		font-size: 19px;
		text-shadow: -2px 2px 1px rgba(0,0,0,0.35);
		width: 65%;
		margin: auto;
	  }
	}
  }
}

#content.microsite
{
  margin: 0 !important;
  width: 100% !important;
}

#side-nav
{
  display: none;
}

.userMarkup
{
  padding: 0!important;
  margin-top: -1rem!important;
}

#column-container-1
{
  width: 100%;
  max-width: unset;
  margin: 0;
}

#content-wrapper
{
  margin-top: -8px;
}

#outer-container, #inner-container
{
  background: #f6f6f6!important;
}

.responsive-video-container
{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed
  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}

.remodal[data-remodal-id='video-modal']
{
  max-width: 750px;
}

@media only screen and (min-width: 768px)
{
  .remodal[data-remodal-id='video-modal']
  {
	width: 75%;
  }
}

